.css-px6f4t {
    text-align:center;
    -webkit-text-decoration:underline;
    text-decoration:underline;
    font-size:2.25rem;
    color:#702459;
    font-weight:600;
    margin-bottom:1rem;
   }
   @media screen and (min-width:30em) {
    .css-px6f4t {
     font-size:2.25rem;
    }
   }
   @media screen and (min-width:48em) {
    .css-px6f4t {
     font-size:3rem;
    }
   }
   @media screen and (min-width:62em) {
    .css-px6f4t {
     font-size:3rem;
    }
   }